.app-container {
  height: 100vh;
  display: flex;
  font-family: "Inter", sans-serif;
}

.chat-wrapper {
  display: flex;
  width: 100%;
  background: #eef1f8;
}

.sidebar {
  width: 25%;
  padding: 20px;
  background: white;
  border-right: 1px solid #e5e5e5;
}

.sidebar h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.new-chat-btn {
  background: #000;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.chat-box {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-container {
  height: 85vh;
  overflow-y: auto;
  padding: 20px;
}

.bubble {
  max-width: 70%;
  margin: 10px 0;
  padding: 12px 18px;
  border-radius: 16px;
  font-size: 16px;
}

.user {
  align-self: flex-end;
  background: #0f62fe;
  color: white;
}

.bot {
  align-self: flex-start;
  background: white;
  border: 1px solid #ddd;
}

.input-area {
  display: flex;
  padding: 10px;
  background: white;
  border-top: 1px solid #ccc;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-area button {
  border: none;
  background: #000;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
}
.typing-indicator {
  font-style: italic;
  color: #555;
  margin: 6px 10px;
}
